.container-news {
  width: 100%;
  /* padding: 20px 40px; */
  /* background: #f5f7fa; */
}

.title-news {
  font-size: 26px;
  font-weight: 700;
  color: #222;
  padding: 20px 0 0 0;
}

.wrapper-news {
  width: 100%;
}

.news-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.item-news-right {
  display: block;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  width: 430px;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.item-news-right:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.image-news-right {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.content-news-right {
  padding: 15px;
}

.author-news-right {
  font-size: 13px;
  color: #888;
  margin-bottom: 5px;
}

.title-news-right {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1.4;
  color: #222;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.date-news-right {
  font-size: 13px;
  color: #666;
  margin-bottom: 8px;
}

.content-news-right p:last-child {
  font-size: 14px;
  font-weight: 500;
  color: #007bff;
}

@media (max-width: 1024px) {
  .news-right {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .news-right {
    grid-template-columns: 1fr;
  }
}