/* --- BỘ LỌC TÌM KIẾM --- */
.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-color: #F0F0F0;
  box-shadow: #1557b0;
}



.filterLeft {
  display: flex;
  gap: 15px;
}

.filterRight {
  display: flex;
  gap: 15px;
  align-items: center;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputWrapper i {
  position: absolute;
  left: 5px;
  color: #9aa0a6;
  font-size: 14px;
}

.inputDate,
.selectAge,
.searchBar {
  border: 1px solid #dfe1e5;
  border-radius: 8px;
  padding: 10px 15px 10px 35px;
  background-color: #F0F0F0;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

.inputDate:focus,
.selectAge:focus,
.searchBar:focus {
  border-color: #D0CFCE;
  box-shadow: none;
  background-color: #fff;
}

.inputDate {
  width: 170px;
}

.selectAge {
  width: 100px;
  cursor: pointer;
}

.searchWrapper i {
  position: absolute;
  left: 12px;
  color: #9aa0a6;
  font-size: 14px;
  width: 14px;
  pointer-events: none;
}

.searchBar {
  width: 280px;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
  padding: 10px 15px 10px 51px;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

.btnAdd {
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.btnAdd:hover {
  background-color: #1557b0;
}

/* --- CỘT HỌ TÊN CÓ AVATAR --- */
.patientNameCell {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.patientNameCell img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

/* --- CÁC NÚT THAO TÁC MÀU XANH NGỌC --- */
.actionGroup {
  display: flex;
  gap: 8px;
}

.btnAction {
  background-color: #F0F0F0;
  color: #336f74;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: 0.2s;
}

.btnAction:hover {
  background-color: #b2ebf2;
}

/* --- PHÂN TRANG --- */
.paginationFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  color: #5f6368;
  font-size: 14px;
}

.pageButtons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pageButtons button {
  border: none;
  background: #f1f3f4;
  color: #5f6368;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  cursor: pointer;
}

.pageButtons button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pageCurrent {
  background: #1a73e8;
  color: white;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-weight: 600;
}