.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modalContent {
    background-color: #ffeaea;
    /* Màu nền hồng nhạt */
    border: 1px solid #d9534f;
    border-radius: 20px;
    padding: 30px 40px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}

.message {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

.actionGroup {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btnConfirm {
    background-color: #f18c86;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btnConfirm:hover {
    background-color: #e5756f;
}

.btnCancel {
    background-color: #dcdcdc;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btnCancel:hover {
    background-color: #c4c4c4;
}